<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <link rel="icon" type="image/svg+xml" href="/vite.svg"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Vite + React</title>
</head>

<body>
<div id="root">
    <header>
        <nav class="navbar">
            <ul class="link-group">
                <li class="link main-link"><a href="">Глаз народа</a></li>
                <li class="link"><a href="/profile">Профиль</a></li>
                <li class="link"><a href="#threate">Рейтинг</a></li>


            </ul>

        </nav>
    </header>
    <div class="uploaded">
        <img src="{{url_for('static', filename='img/uploads/' + filename)}}" alt="">

        <form action="" method="post" enctype="multipart/form-data">
        <p>Название: {{name}}</p>
        <p>Цена: {{rub}}.{{kop}}</p>
        <p>Цена в регионах-аналогах: </p>
        <p style="color: red">Превышает</p>
            <button><input type="submit" value="Отправить на рассмотрение"></button>
        </form>
    </div>
</div>
</body>
</html>
